// media queries
// large tablet
@mixin large-tablet {
    @media only screen and (max-width:#{$large-tablet-width}) {
        @content;
    }
}

// small tablet
@mixin small-tablet {
    @media only screen and (max-width:#{$small-tablet-width}) {
        @content;
    }
}

//mobile - landscape
@mixin mobile-landscape {
    @media only screen and (max-width:#{$mobile-landscape-width}) and (orientation: landscape) {
        @content;
    }
}

// mobile - portrait
@mixin mobile-portrait {
    @media only screen and (max-width:#{$mobile-portrait-width}) {
        @content;
    }
}

// animations & keyfranes
@mixin transform($str) {
    -webkit-transform: #{$str};
    -moz-transform: #{$str};
    -ms-transform: #{$str};
    -o-transform: #{$str};
    transform: #{$str};      
}

@mixin animate {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

// cro-bro opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}